# Advanced Python Objects and Data Structures

# Advanced Numbers

In [1]:
# hexadecimal numbers
hex(777)

'0x309'

In [2]:
# Binary representation of numbers
bin(777)

'0b1100001001'

In [4]:
# We've used ** to perform to the power of but we can also use the pow() function
pow(4,3)

64

In [5]:
# absolute value
abs(-4)

4

# Advanced Strings

In [6]:
string1 = "hello world"

### Count Method

In [7]:
string1.count('l') # function counts the occurence of a particular string

3

In [8]:
s = "Yo Yo Yo hello Yo"
s.count('Yo')

4

### Find Method

In [10]:
string1.find('l') # returns the index of the frist appearence of a particular string

2

### Center Method

In [15]:
string1.center(20,'x') # Centers your string around a given string (one character) *rarely used

'xxxxhello worldxxxxx'

### Expand Tabs Method

In [17]:
string2 = 'hello\tHIIII'.expandtabs() # Formats the string with the tab
string2

'hello   HIIII'

In [18]:
'hello\tHIIII' # No tab

'hello\tHIIII'

### Is Alpha Numeric Method

In [19]:
string1.isalnum() # Checks if all components of a string are alphanumeric (the space in string 1 isn't)

False

In [20]:
"hello".isalnum()

True

### Is Alphabet Method

In [21]:
'hi 77'.isalpha() # Checks if all characters are letters

False

### Is Lower Method

In [22]:
string1.islower() # Checks if all characters are lowercase

True

### Is Whitespace Method

In [23]:
string1.isspace() # Checks if a string is just blank whitespace

False

In [24]:
"  ".isspace()

True

### Is Title Method

In [25]:
string1.istitle() # Returns if a string is "Title" case or not

False

In [27]:
"Im A Title".istitle()

True

### Is Upper Method

In [29]:
string1.isupper() # Returns whether or not all characters are upper

False

In [30]:
"AHHHHHH".isupper()

True

### Ends With Method

In [32]:
string1.endswith('d') # Checks if a string ends with a particular character

True

In [33]:
"Yep?".endswith("!")

False

### Partition Method

In [37]:
'It was the best of times | it was the worst of time'.partition('|') # Gives a head, the separator and the tail

('It was the best of times ', '|', ' it was the worst of time')

# Advanced Sets

In [39]:
set1 = set() # Create a set

In [43]:
set1.add(1) # How to add to a set
set1.add(2)
set1.add(2)
set1

{1, 2}

### Clear Method

In [45]:
set1.clear() # Clears out all content from the set
set1

set()

### Copy Method

In [48]:
s = {1,2,4}
sc = s.copy() # Copies the set to a new set 
sc

{1, 2, 4}

In [50]:
s.add(3)
sc # sc is unchanged

{1, 2, 4}

### Difference Method

In [52]:
s.difference(sc) # Returns the difference(s) b/w two sets

{3}

### Difference Update Method

In [54]:
ss1 = {1,2,3}
ss2 = {1,4,5}
ss1.difference_update(ss2) # Resets ss1 to the values ONLY found in ss2
ss1

{2, 3}

### Discard Method

In [55]:
s

{1, 2, 3, 4}

In [56]:
s.discard(2) # Removes a given value from a set
s

{1, 3, 4}

### Intersection Method

In [57]:
s1 = {1,2,3}
s2 = {1,2,4}

In [59]:
s1.intersection(s2) # shows the MUTUAL values b/w it and s2

{1, 2}

In [60]:
s1  # S1 is still unchanged though

{1, 2, 3}

### Intersection Update Method

In [61]:
s1.intersection_update(s2) # Will reset S1 to the values that are MUTUALLY held b/w the two
s1

{1, 2}

### Is Disjoint Method

In [85]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [72]:
s1.isdisjoint(s2) # Returns False if there are mutually held values

False

In [73]:
s1.isdisjoint(s3) # Returns True if there are no mutual held values

True

### Is Subset Method

In [74]:
s1.issubset(s2) # Returns true if the set is a subset of a given set

True

In [76]:
s2.issubset(s1) # s2 is NOT a subset of s1

False

### Is Superset Method

In [78]:
s2.issuperset(s1) # Returns true if the set contains a given set

True

In [79]:
s1.issuperset(s2)

False

### Symmetric Difference Method

In [80]:
print(s1)
print(s2)

{1, 2}
{1, 2, 4}

In [82]:
s1.symmetric_difference(s2) # Returns the NON SHARED value b/w the two sets

{4}

### Symmetric Difference Update Method

In [86]:
s1.symmetric_difference_update(s2) # Updates s1 to contain the values not shared b/w original s1 and s2
s1

{4}

### Union Method

In [91]:
s1 = {1,2}
s2 = {1,2,4}

In [89]:
s3 = s1.union(s2) # Returns all values in both sets (no duplicates obviously)
s3

{1, 2, 4}

### Update Method

In [92]:
s1.update(s2) # Performs the union function but resets the given set as the union
s1

{1, 2, 4}

# Advanced Dictionaries

In [93]:
d = {'k1':1, 'k2':2}

In [94]:
# dictionary comprehension
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [97]:
{k:v**2 for k,v in zip(['a','b'], range(2))}

{'a': 0, 'b': 1}

In [99]:
for v in d.values():
    print(v)

1
2

In [101]:
for k in d.items(): # Get each item in a dictionary
    print(k)

('k1', 1)
('k2', 2)

#  Advanced Lists

In [102]:
l = [1,2,3]

In [103]:
l.count(1)

1

### Extend Method

In [104]:
x = [1,2,3]
x.append([4,5]) #embeded the list INTO the original list
print(x)

[1, 2, 3, [4, 5]]

In [105]:
y = [1,2,3]
y.extend([4,5]) # Simply extends the list by adding each element from the other list
print(y)

[1, 2, 3, 4, 5]

### Insert Method

In [106]:
l.insert(2,'INSERTED') # At a given index something is inserted into the list

In [107]:
l

[1, 2, 'INSERTED', 3]

### Remove Method

In [108]:
l.remove("INSERTED") # Removes a given value from the list, whereas .pop() takes an index argument
l # ONLY removes the first instance of the given value though

[1, 2, 3]

### Reverse Method

In [109]:
l.reverse() # Reverses the list order IN PLACE
l

[3, 2, 1]

### Sort Method

In [116]:
l.sort() # Puts the list in ascending order
l

[1, 2, 3]