# Python Statements

if, elif, else statements

**Control Flow:** Allows us to only execute code when conditions are met <br />
Control flow syntax in Python makes use of colons and indentation

**Syntax**

In [2]:
#if some_conditions:
    #execute some code

In [3]:
#if some_condition:
    # execute some code
#elif some_other_condition:
    # Do something different
#else:
    # Do this

In [4]:
if True:
    print("ITS TRUE")

ITS TRUE

In [5]:
if 3 > 2:
    print('its true')

its true

In [6]:
hungry = True
if hungry == True:
    print("Feed me")

Feed me

In [9]:
hungry = False
if hungry == True:
    print("Feed me")
else: 
    print("I'm Full")

I'm Full

In [12]:
loc = "Bank"

if loc == 'Auto Shop':
    print('Cars are Cool!')
elif loc == "Bank":
    print("Greed is Good")
elif loc == "Store":
    print("Welcome to the store!")
else:
    print("I Don't know much")

Greed is Good

In [15]:
name = "???"

if name == "Franky":
    print("Hello Franky")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What's your name?")

What's your name?

# For Loops

Used for iterations

In [16]:
#Syntax
# my_iterable = [1,2,3]

#for item_name in my_iterable:
    #print(item_name)

In [17]:
my_iterable = [1,2,3]

for item_name in my_iterable:
    print(item_name)

1
2
3

In [18]:
my_iterable = [1,2,3]

for item_name in my_iterable:
    print("YO")

YO
YO
YO

In [25]:
list1 = [0,1,2,3,4,5,6,7,8,9,10]

#Get only even numbers (Except zero (WHICH IS EVEN))
for num in list1:
    if num != 0 and (num % 2) == 0:
        print(num)
    elif num == 0:
        print("ZERO")
    else:
        print(f"Odd Number: {num}")

ZERO
Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [2]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for i in my_list:
    list_sum = list_sum + i
print(list_sum)

55

In [3]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
list_sum = 0

for i in my_list:
    list_sum = list_sum + i
    print(list_sum)

0
1
3
6
10
15
21
28
36
45
55

In [4]:
string1 = "Hello World"

for letter in string1:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [5]:
list2 = [(1,2), (3,4), (5,6), (7,8), (9,10)]

In [6]:
len(list2)

5

In [7]:
for item in list2:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)
(9, 10)

In [10]:
for (a,b) in list2:
    print(f"a={a}, b={b}") # This is called Tuple unpacking

a=1, b=2
a=3, b=4
a=5, b=6
a=7, b=8
a=9, b=10

In [11]:
list3 = [(1,2,3), (4,5,6), ("hi", 'Hello', 'YO')]

In [13]:
for a,b,c in list3:
    print(f"First item: {a}, second item: {b}, Third Item: {c}")

First item: 1, second item: 2, Third Item: 3
First item: 4, second item: 5, Third Item: 6
First item: hi, second item: Hello, Third Item: YO

In [14]:
#Dictionaries
d1 = {'k1':1, 'k2':2, 'k3':3}

In [16]:
for i in d1.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [17]:
for key,value in d1.items():
    print(f"The Key Was: {key}, and the Value was: {value}")

The Key Was: k1, and the Value was: 1
The Key Was: k2, and the Value was: 2
The Key Was: k3, and the Value was: 3

# While Loops

In [18]:
#Syntax
# while some_condition:
    # Do_Something
#else:
    #Do_Something_Else

In [25]:
x = 0

while x < 5:
    print(f"The Value of X is: {x}")
    #x = x + 1
    x += 1 # This is a simpler and better way to perform the action
else:
    print(f"Value: {x} is equal to or greater than 5!")

The Value of X is: 0
The Value of X is: 1
The Value of X is: 2
The Value of X is: 3
The Value of X is: 4
Value: 5 is equal to or greater than 5!

### Three Useful Key Words for While Loops

break, continue and pass <br />
**break:** Breaks out of the current closest enclosing loop <br />
**continue:**  Goes to the top of the closest enclosing loop <br />
**pass:**  Does Nothing at all

In [26]:
#Error
x = [1,2,3]

for item in x:
    #pass

IndentationError: expected an indented block (1721187030.py, line 4)

In [28]:
# No Error
x = [1,2,3]

for item in x:
    pass # USed as a placeholder to avoid an eror

In [31]:
#Continue example
mystring = "Aurora"

for letter in mystring:
    if letter == 'o':
        continue #passes this particular condition but continues through the loop
    print(letter)

A
u
r
r
a

In [32]:
# Break Example
mystring = "Aurora"

for letter in mystring:
    if letter == 'o':
        break # Ends the loop when condition met
    print(letter)

A
u
r

In [34]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful Operators

Range Operator

In [2]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(0, 11, 2): # Syntax (start, stop, step)
    print(num)

0
2
4
6
8
10

Enumerate Function

In [8]:
index_count = 0

for letter in "abcde":
    print(f"At index {index_count} the letter is {letter}")
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
word = 'abcdef'
for item in enumerate(word): # Returns tuple with index and value at said index
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

In [14]:
word = 'abcdef'
for index, letter in enumerate(word): # using tuple unpacking this time
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e


5
f

Zip function: zips together two lists

In [15]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']

In [19]:
for item in zip(list1,list2): # Zip makes the two lists items into tuples
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = ['a','b','c']
list3 = [100,200,300]

for item in zip(list1,list2,list3): # Zip can only go as far as the smallest list
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [22]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In operator

In [23]:
'x' in[1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'a' in 'a world'

True

In [27]:
'mykey' in {'mykey': 345, 'mykey2':777} # Can also use it with key's in dictionaries

True

In [28]:
d = {'mykey': 345, 'mykey2':777}

345 in d.values()

True

In [30]:
d = {'mykey': 345, 'mykey2':777}

345 in d.keys()

False

Math Functions: Mix, Max,

In [31]:
mylist = [0,1,2,3,4,5,6,7,8,9,10]

In [33]:
print(min(mylist))
print(max(mylist))

0
10

How to import functions from a library

In [34]:
from random import shuffle

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [36]:
shuffle(mylist)

In [37]:
mylist

[6, 1, 8, 9, 5, 7, 4, 10, 3, 2]

In [38]:
from random import randint

In [40]:
randint(0,1000) #Returns random integer

114

In [42]:
mynum = randint(-1, 5)

In [43]:
mynum

2

In [44]:
input('enter a number here: ')

enter a number here: 50

'50'

In [45]:
result =  input('enter a number here: ') #Anything saved via input is a string

enter a number here: 1000

In [47]:
print(result)
print(type(result))

1000
<class 'str'>

In [48]:
result = int(input("How you doin? "))

How you doin? 55

In [50]:
print(result)
print(type(result))

55
<class 'int'>

# List Comprehensions

Unique way of quickley creating a list in Python <br />
If you find yourself using a for loop along with .append() to create a list, List comprehensions may be a better alternative

In [61]:
mystring = 'h3ll0'

In [62]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [63]:
mylist

['h', '3', 'l', 'l', '0']

In [71]:
mystring = 'h3ll0 w0r1d'
mylist = []

mylist = [element for element in mystring]

In [72]:
mylist

['h', '3', 'l', 'l', '0', ' ', 'w', '0', 'r', '1', 'd']

In [73]:
list1 = [x for x in 'word']

In [74]:
list1

['w', 'o', 'r', 'd']

In [77]:
list2 = [num for num in range(0,11)]

In [78]:
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
list3 = [num**2 for num in range(0,11)]

In [80]:
list3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
list4 = [x for x in range(0,11) if x %2 ==0]

In [82]:
list4

[0, 2, 4, 6, 8, 10]

In [84]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [85]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

Using for and if else statements in a list comprehension

In [86]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [87]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

Nested Loops

In [89]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [90]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

Nested for loops with list comprehension

In [92]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [93]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]