# Lists

Lists are ordered sequences that can hold a variety of object types. <br>
They use [] brackets and commas to separate objects in the list. [1,2,3,4] <br>
list support indexing and slicing. Lists can be nested and also have a variety of useful methods that can be called off of them

In [4]:
my_list = [1, 2, 3] # List can be made up of numbers

In [5]:
my_list

[1, 2, 3]

In [8]:
list2 = ['Johnny', 'Billy', "James"] # Or strings

In [9]:
list2

['Johnny', 'Billy', 'James']

In [12]:
list3 = [1 , 2, "Billy", 'Jamie'] # Or both

In [13]:
list3

[1, 2, 'Billy', 'Jamie']

In [16]:
len(my_list) # The len function can give us the number of things in our list

3

In [19]:
my_list[0] # Lists can be indexed - again starting at 0

1

In [20]:
my_list[1:]

[2, 3]

#### We can concatenate lists

In [21]:
another_list = [4, 5]

In [23]:
my_list + another_list # Here we concantenated the two lists

[1, 2, 3, 4, 5]

#### Lists are mutable unlike strings

In [80]:
new_list = ['Bill', 'Alan', 'Scott', 'Paul']

In [81]:
new_list[0] = new_list[0].upper() # Here we were able to change the list without re-assigning the variable

In [82]:
new_list[3] = 'PAUL' # Another way to do this

In [83]:
new_list

['BILL', 'Alan', 'Scott', 'PAUL']

#### Append Method for lists

In [84]:
new_list.append('Deborah') # Here we append the new item into the list

In [85]:
new_list

['BILL', 'Alan', 'Scott', 'PAUL', 'Deborah']

#### Pop Method for lists

In [86]:
new_list.pop() # pop will remove the last entry into the list by default

'Deborah'

In [87]:
new_list # This highlights how lists are mutable. We didn't re-assign the variable but 'Deborah' is gone

['BILL', 'Alan', 'Scott', 'PAUL']

In [88]:
new_list.append('Deborah') # We will add this back

In [89]:
new_list

['BILL', 'Alan', 'Scott', 'PAUL', 'Deborah']

In [90]:
new_list.pop(1) # But we can give it the index of the entry we'd like to remove as well

'Alan'

In [91]:
new_list # and the entry at index 1 is now removed

['BILL', 'Scott', 'PAUL', 'Deborah']

In [92]:
popped_item = new_list.pop(2) # We can save the popped entry into a variable

In [93]:
popped_item # Here we've saved the popped entry 'Paul' into a variable

'PAUL'

In [94]:
new_list

['BILL', 'Scott', 'Deborah']

#### Sort Method for lists

In [95]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [98]:
new_list.sort() # The sort method sorts the list

In [99]:
new_list # Here the list was sorted by alphabetical order

['a', 'b', 'c', 'e', 'x']

In [102]:
num_list.sort() # We can also sort numbered lists

In [103]:
num_list # Here we see the list was sorted in numeric order

[1, 3, 4, 8]

In [104]:
yet_another_list = [3, 5, 1, 16, 2]

In [106]:
yet_another_list.sort() # The sort method is done in place meaning assiging it to a new variable won't work

In [109]:
list4 = yet_another_list.sort() # This won't do anything

In [111]:
print(list4)# This returns none, a datatype meaning, well, nothing

None

In [114]:
yet_another_list.sort()
list4 = yet_another_list # This will work if you;d like to re-assign the sorted list

In [113]:
list4

[1, 2, 3, 5, 16]

#### Reverse Method for Lists

In [115]:
num_list.reverse()

In [117]:
num_list # The reverse method reversed the number sequence to largest to smallest
# It is essentially a inverse of the sort method

[8, 4, 3, 1]