## String Indexing

In [1]:
mystring = "Hello World"

In [2]:
print(mystring)

Hello World

In [4]:
mystring[0]

'H'

In [5]:
mystring[8]

'r'

In [7]:
mystring[-3]

'r'

In [6]:
mystring[-2]

'l'

In [8]:
mystring = 'abcdefghijk'

In [10]:
mystring[2:]

'cdefghijk'

In [12]:
mystring[:3]

'abc'

In [13]:
mystring[3:6]

'def'

In [14]:
mystring[1:3]

'bc'

In [15]:
mystring[0:6:2]

'ace'

In [16]:
mystring[::-1]

'kjihgfedcba'

## String Properties and Methods

### Immutability

In [17]:
name = 'sam'

In [18]:
name[0] = 'p'

TypeError: 'str' object does not support item assignment

In [19]:
name_part = name[1:]

In [22]:
name2 = "P" + name_part

In [23]:
print(name2)

Pam

In [24]:
x = "Hello World"

In [26]:
x + " It is beautiful outside"

'Hello World It is beautiful outside'

In [27]:
x = x + " It is beautiful outside"

In [28]:
x

'Hello World It is beautiful outside'

In [29]:
x = x + " It is beautiful outside"

In [30]:
x

'Hello World It is beautiful outside It is beautiful outside'

In [31]:
letter = 'z'

In [32]:
letter * 10

'zzzzzzzzzz'

In [33]:
2 + 3

5

In [34]:
name + 2

TypeError: can only concatenate str (not "int") to str

In [35]:
"2" + "3"

'23'

In [36]:
x = "Hello World"

In [43]:
x2 = x.upper()

In [44]:
x2

'HELLO WORLD'

In [45]:
x.upper()

'HELLO WORLD'

In [46]:
x

'Hello World'

In [47]:
x.lower()

'hello world'

In [48]:
x.split()

['Hello', 'World']

In [50]:
x.split("l")

['He', '', 'o Wor', 'd']

### Print Formatting with Strings

In [53]:
print("This is a string {}".format("INSERT"))

This is a string INSERT

In [54]:
print("The {} {} {} ".format("Fox", "red", "Quick"))

The Fox red Quick

In [56]:
print("The {2} {1} {0} ".format("Fox", "red", "Quick")) # Using indexing to figure out where to place things

The Quick red Fox

In [57]:
print("The {0} {0} {0} ".format("Fox", "red", "Quick"))

The Fox Fox Fox

In [59]:
print("The {Q} {R} {F} ".format(F="Fox", R="red", Q="Quick")) # Can provide keys as well

The Quick red Fox

#### Float Formatiing

In [60]:
result = 100/777

In [61]:
result

0.1287001287001287

In [67]:
print("The result was {0:.2}".format(result)) # Here we provide the value 0-index have nothing for the colon
# b/c we are fine with the current spacing, and 2 for the percision

The result was 0.13

In [68]:
# The format is {value:width.percision(rounding)}

In [70]:
print("The result was {0:5.2}".format(result)) # Here we actually provide some width

The result was  0.13

In [71]:
result = 104.12345

In [74]:
print("The result was {0:5.2f}".format(result)) # We want to provide f at the end of the percison to get the normal
# decimal place notation we are used too

The result was 104.12

#### Formatted Strings (WAY BETTER)

In [77]:
print(f"The result is {round(result,2)}") # This is far simplier and superior

The result is 104.12

## Lists in Python

In [78]:
my_list = [1,2,3]

In [79]:
my_list

[1, 2, 3]

In [88]:
my_list = [1,'hello!', .22]

In [89]:
my_list

[1, 'hello!', 0.22]

In [90]:
len(my_list)

3

In [91]:
my_list[2]

0.22

In [92]:
my_list[0]

1

In [93]:
hello = my_list[1]

In [94]:
hello

'hello!'

In [95]:
print(hello)

hello!

In [96]:
my_list2 = [7,6]

In [98]:
list3 = my_list + my_list2

In [99]:
list3

[1, 'hello!', 0.22, 7, 6]

In [143]:
list4 = my_list2 + my_list

In [144]:
list4

[7, 6, 1, 'hello!', 0.22]

In [145]:
list4[3] = "HELLO!"

In [146]:
list4

[7, 6, 1, 'HELLO!', 0.22]

In [147]:
list4.append("END")

In [148]:
list4

[7, 6, 1, 'HELLO!', 0.22, 'END']

In [149]:
list4.pop() # Pop removes the final item in a list

'END'

In [150]:
list4

[7, 6, 1, 'HELLO!', 0.22]

In [151]:
list4.append("END")

In [152]:
popped = list4.pop() # We can assign the popped item in another variable

In [153]:
popped # And viola

'END'

In [154]:
list4

[7, 6, 1, 'HELLO!', 0.22]

In [155]:
list4.pop(1) # We can tell pop which item to remove by providing an index

6

In [156]:
new_list = ["a", 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [161]:
new_list.sort() # Sort is done in place, meaning you can't assign it to anything b/c nothing is being returned

In [162]:
new_list # it is now sorted in alphabetic order

['a', 'b', 'c', 'e', 'x']

In [163]:
num_list.sort()

In [164]:
num_list

[1, 3, 4, 8]

In [165]:
my_sorted_list = num_list.sort()

In [167]:
type(my_sorted_list) # This shows why we can't assign things like this

NoneType

In [168]:
# We would have to assign it like this:
num_list.sort()
my_sorted_list = num_list

In [170]:
my_sorted_list # And we see it now worked

[1, 3, 4, 8]

In [171]:
num_list.reverse()

In [173]:
num_list # And we see it reversed the list

[8, 4, 3, 1]

In [174]:
#Reverse is also done in place like sort

## Dictionaries in Python

In [175]:
my_dict = {"key1": 'value1', "key2": 'value2'}

In [176]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [178]:
my_dict['key1']

'value1'

In [179]:
prices = {"apple":1.43, "Grape":4, "Milk":3.4}

In [180]:
prices['apple']

1.43

In [201]:
d = {'key1':123, 'k2':['a',2,3],'k3':{'insideKey':[2,3,4]}}

In [202]:
d['k2'][2]

3

In [203]:
d['k2']

['a', 2, 3]

In [204]:
d['k3']['insideKey']

[2, 3, 4]

In [205]:
d['k3']['insideKey'][1]

3

In [206]:
my_list = d['k3']['insideKey']

In [207]:
my_list

[2, 3, 4]

In [208]:
number = my_list[1]

In [209]:
number

3

In [210]:
d['k2'][0].upper()

'A'

In [211]:
d

{'key1': 123, 'k2': ['a', 2, 3], 'k3': {'insideKey': [2, 3, 4]}}

In [212]:
d['k2'][0] = d['k2'][0].upper()

In [213]:
d

{'key1': 123, 'k2': ['A', 2, 3], 'k3': {'insideKey': [2, 3, 4]}}

In [214]:
dic = {'k1':100,'k2':200}

In [215]:
dic['k3'] = 300

In [216]:
dic

{'k1': 100, 'k2': 200, 'k3': 300}

In [217]:
dic['k1'] = 'NEW VALUE'

In [218]:
dic

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [219]:
dic2 ={'k1': 100, 'k2': 200, 'k3': 300}

In [220]:
dic2.values()

dict_values([100, 200, 300])

In [221]:
dic2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [222]:
dic2.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

## Tuples

In [223]:
t = (1,2,3)

In [224]:
myList = [1,2,3]

In [225]:
myList[1] = 777

In [226]:
myList

[1, 777, 3]

In [229]:
t[1] = 777 # Can't change a tuple

TypeError: 'tuple' object does not support item assignment

In [230]:
t

(1, 2, 3)

In [231]:
t[1]

2

In [232]:
t2 = ('a','b','c')

In [234]:
t2.count('a') # Gives count

1

In [237]:
t2.index('a') # Gives index of passed variable

0

## Sets

In [238]:
myset = set()

In [239]:
myset

set()

In [240]:
myset.add(1)

In [241]:
myset

{1}

In [242]:
myset.add(1)

In [244]:
myset # Can only have one of each

{1}

In [245]:
myset.add('a')

In [246]:
myset

{1, 'a'}

In [247]:
myset.add('a')

In [248]:
myset

{1, 'a'}

In [249]:
myset.add("a")

In [250]:
myset

{1, 'a'}

In [251]:
mylist2 = [1,1,1,1,1,1,1,1,1,1,4,56]

In [252]:
myset2 =set(mylist2)

In [253]:
myset2

{1, 4, 56}

# Booleans

In [254]:
True

True

In [255]:
False

False

In [256]:
type(False)

bool

In [257]:
type(True)

bool

In [258]:
1 > 2

False

In [259]:
1 < 2

True

In [260]:
b =None

In [261]:
b

In [262]:
c

NameError: name 'c' is not defined

In [263]:
c = None

In [264]:
c

# Files in Python

In [2]:
# This only works in Juypter notebook
%%writefile myfile.txt
Hello this is a text file
2nd line
third line

Writing myfile.txt

In [14]:
myfile = open('myfile.txt') # Makes the file an object

In [15]:
pwd # provides the directory

'C:\\Users\\ac01658\\OneDrive - Goodyear\\Python\\Udemy_Course\\Udemy Redux'

In [16]:
myfile_read = myfile.read() # Returns a string of the contents of the file

In [18]:
myfile_read

'Hello this is a text file\n2nd line\nthird line\n'

In [20]:
myfile.read() # This happens b/c we already read the file and the cursor is at the end of the file

''

In [21]:
myfile.seek(0) # Resets the cursor to the beginning

0

In [22]:
myfile.read()

'Hello this is a text file\n2nd line\nthird line\n'

In [25]:
myfile.seek(0)

0

In [26]:
file_list = myfile.readlines() # Makes each line a string in a list

In [29]:
file_list[0][0::2]

'Hloti satx ie'

In [31]:
myfile.close() # Need to close the file, in order to use it with other programs

In [32]:
with open('myfile.txt') as new_file: # Don't need to close the file with this
    contents = new_file.read()

In [33]:
contents

'Hello this is a text file\n2nd line\nthird line\n'

In [38]:
with open('myfile.txt', 'w+') as new_file2:
    contents2 = new_file2.read()

In [39]:
contents2

''

In [43]:
with open('myfile.txt', 'a') as new_file2:
    new_file2.write("\nNEW LINE")

In [44]:
with open('myfile.txt', 'r') as new_file2:
    contents2 = new_file2.read()

In [45]:
contents2

'NEW LINE\nNEW LINE'

In [46]:
with open('new.txt', 'w') as f:
    f.write("I created this file")

In [48]:
with open('new.txt', 'r') as f:
    print(f.read())

I created this file

### Comparison Operators

In [1]:
2 == '2'

False

In [2]:
'Bye' == 'bye'

False

In [3]:
1 != 3

True

In [4]:
1 != 1

False

In [5]:
1 < 15 < 19

True

In [7]:
1 < 44 > 45

False

In [8]:
1 < 2 and 2 < 3

True

In [9]:
'h' == 'h' and 2 == 2

True

In [10]:
('h' == 'h') and (2==2)

True

In [11]:
1 == 1

True

In [13]:
not 1 ==1 # Gives opposite boolean than would normally be returned

False

### Methods and functions

In [21]:
mylist =[1,2,3]

In [22]:
mylist.append(5)

In [23]:
print(mylist)
mylist.pop(2)

[1, 2, 3, 5]

3

In [ ]:
mylist. # hit . the tab to see possible functions for an object type

In [25]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [26]:
mylist.insert(0,11)
print(mylist)

[11, 1, 2, 5]

In [63]:
# My Version
def pig_latin(string):
    total = ""
    for word in string.split(' '):
        #if word[0].lower() == 'a' or word[0].lower() == 'i' or word[0].lower() =='e' or word[0].lower() == 'u':
        if word[0].lower() in 'aeiou':
            word += 'ay'
            total += ' '
            total += word
        else:
            first = word[0]
            total += ' '
            total += word[1:] + first + 'ay'
            
    return(total[1:])

In [64]:
pig_latin('Hello Anna my name is Paul')

'elloHay Annaay ymay amenay isay aulPay'

In [52]:
# UDemy
def pig_latin2(word):
    first = word[0]
    
    # Check if vowel
    if first.lower() in "aeiou":
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first +'ay'
        
    return pig_word

In [55]:
pig_latin2('word')

'ordway'

In [56]:
pig_latin('apple')

' appleay'

### *args and *kwargs

In [68]:
def myfunc(a,b):
    # returns 5% of the sum of a and b
    return sum ((a,b)) * .05

In [70]:
myfunc(40,60)

5.0

What if I wanted to have more numbers than just a and b?

In [73]:
# We could use *args to alleviate this problem
def myfunc(*args):
    return sum(args) * .05 # Python keeps all parameters in a tuple called args

In [74]:
myfunc(40,60,50,100)

12.5

In [76]:
def show(*args):
    print(args)

In [77]:
show(88,'a',55)

(88, 'a', 55)

In [80]:
def show2(*args):
    for i in args:
        print(i)

In [81]:
show2(33,44,'yes')

33
44
yes

In [109]:
# We can also use **kwargs which places the parameters into a dictionary
def myfunc3(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print("My Fruit of choice is {}".format(kwargs['fruit']))
    elif 'veggie' in kwargs:
        print("My favorite veggie is {}".format(kwargs['veggie']))
    else:
        print("No Fruit")

In [110]:
myfunc3(fruit='apple')

{'fruit': 'apple'}
My Fruit of choice is apple

In [111]:
myfunc3(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My Fruit of choice is apple

In [115]:
# Now using both
def myfunc4(*args,**kwargs):
    
    print('I would like {} {}'.format(args, kwargs['food']))

In [116]:
myfunc4('Hi', 'John Boi', food='cat litter')

I would like ('Hi', 'John Boi') cat litter